<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	  <meta http-equiv="Content-Type" content="text/html; 
	    charset=UTF-8" />
	  <meta name="keywords" content="VOŠ, SPŠ, Olomouc, Božetěchova, "/>
	  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	  <title>Vítej!</title>
	</head>

	<body>
		<p>Přihlášen jako {{ session["user"] }} </p>
		
		<a href="/Main_admin">Hlavni</a>
		
		<a href="/Entering">Zadání</a>
		
		<a href="/LogOut">Odhlášení</a>
		
		{% block list_of_titles %}
		{% endblock %}

	</body>
</html>