<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
	  <meta http-equiv="Content-Type" content="text/html; 
	    charset=UTF-8" />
	  <meta name="keywords" content="VOŠ, SPŠ, Olomouc, Božetěchova, "/>
	  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	  
	  	<script type="text/x-mathjax-config">
		  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
		</script>
		
		<script type="text/javascript"
		  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
		</script>
		
	  <title>Vítej!</title>
	
	</head>
		<body>
			<p>Přihlášen jako {{ session["user"] }} </p>			
			<a href="/LogOut">Odhlášení</a>
			<a href="/Main_user">Zadání</a>

		{% block list_w %}
		{% endblock %}
	
		{% block content %}
		{% endblock %}
			

		</body>
</html>